services:
  # Backend Service
  - type: web
    name: cellphones-clone-be
    runtime: docker
    plan: free
    rootDir: backend
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: PORT
        value: 3001
      - key: NODE_ENV
        value: production
      - key: API_PREFIX
        value: api/v1

  # Frontend Service
  - type: web
    name: cellphones-clone-fe
    runtime: node
    plan: free
    rootDir: frontend
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NEXT_PUBLIC_API_URL
        fromService:
          name: cellphones-clone-be
          type: web
          property: host
      - key: NODE_ENV
        value: production
