services:
  - type: web
    name: cellphones-clone-be
    runtime: docker # Changed from node to docker
    plan: free
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: PORT
        value: 3001
      - key: NODE_ENV
        value: production
